.centrar
{
    text-align: center;
}
.izquierda
{
    text-align: left;
}
.derecha
{
    text-align: right;
}
.bgazul1
{
    background-color: #1c5c79 !important;
}
.bgazul2
{
    background-color: #267c96;
}
.bgazul3
{
    background-color: #95d1e4;
}