.centrar
{
    text-align: center;
    align-items: center !important;
    align-content: center !important;
}
.izquierda
{
    text-align: left;
}
.derecha
{
    text-align: right;
}
.bgazul1
{
    background-color: #1c5c79 !important;
}
.bgazul2
{
    background-color: #267c96 !important;
}
.bgazul3
{
    background-color: #95d1e4 !important;
}
.bgazul4
{
    background-color: rgb(86, 153, 172);
}
.bgblanco1
{
    background-color: #d1d1d1 !important;
}
.text-azul1{
    color: #1c5c79 !important;
}
.text-blanco1{
    color: #c5c5c5 !important;
}
.card{
    background: white;
    /* Para la sombra */
    box-shadow: 5px 5px 10px rgb(85, 84, 84) !important;
    /* Para el redondeado */
    border-radius: 5px;
    margin: 0% !important;
}

.card-title{
    margin-left: 30px;
    padding-top: 15px;
}

.image {
    width: 5% !important; /* Ancho del 5% del contenedor padre */
    height: auto !important; /* Altura ajustada automáticamente para mantener la proporción */
    border: 5px solid black !important; /* Borde de 5px sólido negro */
}

.p{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px !important;
}

.card-image img{
    width: 10% !important;
    height: auto !important;
    border-radius: 5px !important;
  }

.ColorTurnos{
    background-color: rgb(30, 91,120);
}
.imgbarra
  {
    width: 18% !important;
    height: auto !important;
    border-radius: 5px !important;
  }
  .modalcolor
  {
    background-color: rgb(197,197,197);
  }
  .modaltitulo
  {
    background-color: rgb(42,65,81);
  }
  .modaltitulo h5
  {
    color: white;
  }
  .modaltitulo span
  {
    color: white;
  }